html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background: #FFF2EE;
}

.highlight {
    background-color: #BFDCB3; /* color for accepted words */
    color: #000000;
}
.current {
    background-color: #C75854; /* color for currently processed character */
}

.navbar {
    background: linear-gradient(to top,#FFF2EE, #92ccdd);
    overflow: hidden;
    position: sticky;
    top: 0;
    margin-left: 0; /* Add this line */
    margin-right: 0; /* Add this line */
    z-index:500;
}
.navbar h2 {
    float: left;
    display: block;
    color: #141111;
    text-align: center;
    margin-left: 40px;
    padding: 10px 16px 10px ;
    text-decoration: none;
    font-family:'verdana';
}

p {
    text-align: justify;
}

#myParagraph {
    text-align: justify;
}

#paragraph {
    margin: 20px; 
    padding: 10px; 
    font-size: 18px; 
    color:  #141111;
    background-color: white; /* Add a white background color */
    border-radius: 10px; /* Add a rounded border */
    box-shadow: 3px 3px 6px #EFE0DC; /* Add a drop shadow */
    border-color: #92ccdd;

}

#status{
    margin: 20px; 
    padding: 10px; 
    font-size: 18px; 
    color:  #141111;
    background-color: white; /* Add a white background color */
    border-radius: 10px; /* Add a rounded border */
    box-shadow: 3px 3px 6px #EFE0DC; /* Add a drop shadow */
    border-color: #92ccdd;
}

#result{
    margin: 20px; 
    padding: 10px; 
    font-size: 18px; 
    color:  #141111;
    background-color: white; /* Add a white background color */
    border-radius: 10px; /* Add a rounded border */
    box-shadow: 3px 3px 6px #EFE0DC; /* Add a drop shadow */
    border-color: #92ccdd;
}

#position{
    width: 500px; 
    height: auto; 
    border-radius: 20px; /* Make the border rounder */
    box-shadow: 3px 3px 6px #EFE0DC; /* Add a drop shadow */
    background-color: #ffe7e0;
    text-align: center;
    font-family:'verdana';
    padding: 10px;
    margin:10px;
}

#occurence{
    width: 500px; 
    height: auto; 
    border-radius: 20px; /* Make the border rounder */
    box-shadow: 3px 3px 6px #EFE0DC; /* Add a drop shadow */
    background-color: #ffe7e0;
    text-align: center;
    font-family:'verdana';
    padding: 10px;
    margin:10px;
}

footer{
    background:#FFF2EE;
    overflow: hidden;
    /* position: absolute; */
    bottom: 0;
    margin-top:100px;
    margin-left: 0; /* Add this line */
    margin-right: 0; /* Add this line */
    text-align: center;
    padding: 10px;
    font-family:'verdana';

}

#instruction {
    background-color: #FFF2EE; /* Light gray background */
    padding: 20px; /* 20px padding */
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 10px; /* Rounded corners */
    width: 80%; /* Take up 80% of its parent's width */
    margin: 30px auto; /* Center the div */
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    font-family:'verdana';
}

#instruction h3 {
    color: #000000; /* Dark gray color */
    text-align: center; /* Center the text */
    font-family:'verdana';
}

#instruction p {
    color:#000000; /* Medium gray color */
    line-height: 1.0; /* Space out the lines a bit */
    font-family:'verdana';
}

#runButton {
  margin-left:20px;
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 10px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

#runButton:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

#runButton:hover {
  background-color: #2c974b;
}

@keyframes blink {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
    }

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(20deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(20deg);
    }
    100% {
        transform: rotate(0deg);
    }
}